{% extends "base.html" %}

{% block content %}
<h1>Sistema de gestión</h1>
<div class="tiles">
    {% if puede_administracion %}
    <a class="tile" href="{{ url_for('administracion.index') }}">Administración</a>
    {% endif %}
    <a class="tile" href="{{ url_for('siniestros.listar') }}">Siniestros</a>
    <a class="tile" href="{{ url_for('clients.listar') }}">Clientes</a>
    <a class="tile" href="{{ url_for('vehicles.listar') }}">Vehículos</a>
    <a class="tile" href="{{ url_for('products.listar') }}">Stock</a>
    <a class="tile tile-ancho" href="{{ url_for('informacion_util.listar') }}">Links útiles</a>
</div>
{% endblock %}
