{% extends "base.html" %}

{% block content %}
<h1>Administrar</h1>
<div class="tiles">
    <a class="tile" href="{{ url_for('branches.listar') }}">Sucursales</a>
    <a class="tile" href="{{ url_for('user.listar') }}">Usuarios</a>
    <a class="tile" href="{{ url_for('clients.listar') }}">Clientes</a>
    <a class="tile" href="{{ url_for('products.listar') }}">Productos</a>
    <a class="tile" href="{{ url_for('vehicles.listar') }}">Vehículos</a>
    <a class="tile" href="{{ url_for('validaciones.index') }}">Validaciones</a>
</div>
{% endblock %}
